<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/static/img/TRL_Logo_Custom.jpg">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>About Us</title>
    <script>
        function myFunction() {
            var x = document.getElementById("myTopnav");
            if (x.className === "topnav") {
                x.className += " responsive";
            } else {
                x.className = "topnav";
            }
        }

        function toggleDropdown() {
            var dropdownContent = document.querySelector(".dropdown-content");
            // Toggle the display property between 'block' and 'none'
            if (dropdownContent.style.display === "block") {
                dropdownContent.style.display = "none";
            } else {
                dropdownContent.style.display = "block";
            }
        }
    </script>
</head>
<header>
    <nav>
        <p class="divider">_</p>
        <div class="topnav" id="myTopnav">
            <div class="dropdown">
                <button class="dropbtn" onclick="toggleDropdown()"><img
                        src="/static/img/menu-list-icon-app-navigation-option-page-interface-dropdown-three-lines-button-dots-sign-symbol-black-artwork-graphic-illustration-clipart-eps-vector.jpg"
                        height="50" width="50">
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content" style="display: none;">
                    <a href="{{ url_for('index') }}">GUN STATS</a><br>
                    <a href="{{ url_for('calculator') }}">DPS/DPM CALCULATOR</a><br>
                    <a href="{{ url_for('suggestion') }}">SUGGESTIONS & FEEDBACK</a><br>
                    <a href="https://www.roblox.com/games/5766084948/SCP-The-Red-Lake-EVENT">PLAY THE RED LAKE</a>
                </div>
            </div>
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
        </div>
    </nav>
</header>
<body class="background-image">
<main>
    <h1>About Us</h1>
    <h3><b>Hey there!</b> You seem to have stumbled upon the TRL Stat Page created by <b>Fretux</b> and <b>Losernoob124!</b></h3><br>
    <h2>Our Mission</h2>
    <p class="about_us_text">This website exists because we want to provide the
        TRL Community with an easy go-to way to calculate DPS and DPM values to help players make informed decisions
        about their gameplay. Whether you're fine-tuning your new Deathwish Strategy or simply curious about firearm
        performance, we’ve got you covered. If you have suggestions, feedback, or want to contribute new stats or
    features, we’d love to hear from you, just contact us on Discord or on the <a href="{{ url_for('suggestion') }}">Suggestion Page!</a>
    </p>
    <h2>Our Story</h2>
    <p class="about_us_text">
        In the beginning, the only way to calculate DPS/DPM stats for certain operatives was, by using the Spreadsheet
        by Lanz1021 and a calculator, which quickly turned out to be (shockers) really annoying. TRL Stats started out
        as a side project, initially started by Losernoob124 to calculate gun stats more easily, but given up one after
        a couple of weeks. Eventually Fretux started working on it again and what initially was just a fun hobby grew
        into something much bigger, and through the help of Stack Overflow and many hours of programming, we
        turned it into a full-fledged website.
    </p>
    <h2>The Team</h2>
    <p class="about_us_text">
        <b>Fretux</b> - Frontend Developer and Data Specialist. Responsible for the designing of the website and making
        sure the gun stats are accurate and up to date.
    </p>
    <p class="about_us_text">
        <b>Losernoob124</b> - Backend Developer. Responsible for all the scripts that make sure the website functions
        correctly.
    </p>
    <h2>Frequently Asked Questions</h2>
    <p class="about_us_text"><b>How do you calculate DPS and DPM?</b></p>
    <p class="about_us_text">We put the data given by
        <a href="https://docs.google.com/spreadsheets/d/1hGGLMOKB5Tj3FSo38HX7WbIvOmMbgfE5ZApTSOZgnS8/edit?gid=0#gid=0">Lanz1021's
            Stat Sheet</a> into a <a href="https://www.w3schools.com/whatis/whatis_json.asp">.JSON (Javascript Object Notation)</a> file, which we use to calculate the DPS
        (damage per second) and DPM (damage per minute) of each weapon via a formula that is also mentioned on Lanz1021' Spreadsheet.</p>

    <p class="about_us_text"><b>How often are stats updated?</b></p>
    <p class="about_us_text">We update the weapon stats every time a new update is released for TRL.</p><br>
    <h3 class="about_us_text">Thank you for visiting <b>TRL Stats</b>.</h3>
</main>
</body>
</html>