<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Gun Stats</title>
</head>
<body>
    <header>

    </header>
    <main>
         <form action="/action_page.php">
              <label for="rpm">Damage:</label>
              <input type="text" id="dmg" name="fname"><br><br>
              <label for="rpm">RPM:</label>
              <input type="text" id="rpm" name="lname"><br><br>
              <input type="submit" value="Submit">
</form>
    </main>
</body>
</html>
