<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/static/img/TRL_Logo_Custom.jpg">
    <title>Gun Stats</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script>
        function myFunction() {
            var x = document.getElementById("myTopnav");
            if (x.className === "topnav") {
                x.className += " responsive";
            } else {
                x.className = "topnav";
            }
        }

        function toggleDropdown() {
            var dropdownContent = document.querySelector(".dropdown-content");
            // Toggle the display property between 'block' and 'none'
            if (dropdownContent.style.display === "block") {
                dropdownContent.style.display = "none";
            } else {
                dropdownContent.style.display = "block";
            }
        }
    </script>
</head>
<header>
    <nav>
        <p class="divider">_</p>
        <div class="topnav" id="myTopnav">
            <div class="dropdown">
                <button class="dropbtn" onclick="toggleDropdown()"><img src="/static/img/menu-list-icon-app-navigation-option-page-interface-dropdown-three-lines-button-dots-sign-symbol-black-artwork-graphic-illustration-clipart-eps-vector.jpg" height="50" width="50">
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content" style="display: none;">
                    <a href="{{ url_for('calculator') }}">DPS/DPM CALCULATOR</a><br>
                    <a href="{{ url_for('about_us') }}">ABOUT US</a><br>
                    <a href="{{ url_for('suggestion') }}">SUGGESTIONS & FEEDBACK</a><br>
                    <a href="https://www.roblox.com/games/5766084948/SCP-The-Red-Lake-EVENT">PLAY THE RED LAKE</a>
                </div>
            </div>
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
        </div>
    </nav>
</header>
<body class="background-image">
<main>
    <h1>Gun Stats</h1>
    <div class="search-container">
        <input type="text" id="search" placeholder="Search by name" onkeyup="filterTable()">
    </div>
    <table id="gun-stats" class="background-roster">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Damage</th>
            <th>Rounds per minute</th>
            <th>Magazine Size</th>
            <th>Reload time</th>
            <th>RPS</th>
            <th>DPS</th>
            <th>DPM</th>
            <th>Avg DPS</th>
        </tr>
        </thead>
        <tbody>
        <!-- Gun stats will be populated here -->
        </tbody>
    </table>
    <script src="{{ url_for('static', filename='populateTable.js') }}"></script>
    <script src="{{ url_for('static', filename='filterTable.js') }}"></script>
</main>
</body>
</html>
